name: Test

on: [push, pull_request]

env:
  FORCE_COLOR: 2

jobs:
  lint:
    name: Lint
    env:
      NODE: 24.x

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '${{ env.NODE }}'

      - uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-v${{ env.NODE }}-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-v${{ env.NODE }}-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}

      - run: npm ci

      - run: npm run lint

      - run: npm run typecheck

  test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Test

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
        node: [22.x, 24.x, 25.x]

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}

      - uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ matrix.os }}-node-v${{ matrix.node }}-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ matrix.os }}-node-v${{ matrix.node }}-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}
            ${{ matrix.os }}-node-v${{ matrix.node }}-

      - run: npm ci

      - run: npm run build

      - run: npm test
